# ===============================
#     GENERAL FILES TO IGNORE
# ===============================
HELP.md
.env

# ===============================
#     MAVEN TARGET FOLDERS
# ===============================
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# ===============================
#     SPRING TOOL SUITE (STS)
# ===============================
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# ===============================
#     INTELLIJ IDEA
# ===============================
.idea
*.iws
*.iml
*.ipr

# ===============================
#     NETBEANS
# ===============================
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# ===============================
#     VISUAL STUDIO CODE
# ===============================
.vscode/
